# Ignore everything
*

# Allow specific files and folders
!.gitignore
!/LICENSE
!/README.md
!/docs/
!/docs/assets/
!/docs/assets/*.css
!/docs/assets/*.svg
!/docs/assets/*.png
!/docs/js/
!/docs/js/*.js
!/docs/*.html
